/* ここから下に記載していく */
body{
    text-align: center;
    background-size:cover ;
    background-image:url(../img/hata.jpg);
}

header{
    padding: 30px;
    font-size: 50px;
    color: orange;
}

.me{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gu{
    padding-right: 100px;
}

.pa{
    padding-left: 100px;
}


.pc{
    padding-top: 100px;
}

.pcgu{
    display: none;
}
.pctyoki{
    display: none;
}
.pcpa{
    display: none;
}